<div class="p-3 text-white bg-dark sticky-top"  style="height: 100vh;">
  <%= link_to("Navbar", root_path, { class: "nav-link navbar-brand text-white" }) %>
  <ul class="nav navbar-nav-scroll flex-column p-2">
    <li class="nav-item m-1">
      <%= link_to("新聞一覧", root_path, { class: "nav-link text-white" }) %>
    </li>
    <li class="nav-item m-1">
      <%= link_to("記事一覧", article_index_path, { class: "nav-link text-white" }) %>
    </li>
  </ul>
  <div class="fixed-bottom d-flex p-4">
    <% if logged_in? %>
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <%= image_tag(current_user.image, size: "40x40") %>
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item"><%= link_to "ログアウト", logout_path %></li>
          <li class="dropdown-item"><%= link_to "設定", edit_user_path(current_user) %></li>
        </ul>
      </div>
    <% else %>
      <%= link_to("ログイン", "/auth/google_oauth2", {method: :post}) %>
    <% end %>
  </div>
</div>